<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<context-param>
		<param-name>pbeans.stores</param-name>
		<param-value>mystore</param-value>
	</context-param>
	<context-param>
		<param-name>mystore.jdbc.url</param-name>
		<!-- Note the &amp; -->
		<param-value>jdbc:mysql://localhost/agreugator?user=root&amp;password=</param-value>
  </context-param>
 <context-param>
    <param-name>mystore.jdbc.driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>mystore.max.connections</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>mystore.connection.timeout</param-name>
    <param-value>3600000</param-value>
  </context-param>



  <context-param>
    <param-name>title</param-name>
    <param-value>Agreuh Gator</param-value>
  </context-param>
  <display-name>Agreuh-gator</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>fr.giwi.agreugator.listener.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRss</display-name>
    <servlet-name>AddRss</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.AddRss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRss</servlet-name>
    <url-pattern>/addRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rss</display-name>
    <servlet-name>Rss</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.Rss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rss</servlet-name>
    <url-pattern>/rss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EditNews</display-name>
    <servlet-name>EditNews</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.EditNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNews</servlet-name>
    <url-pattern>/editNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRss</display-name>
    <servlet-name>EditRss</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.EditRss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRss</servlet-name>
    <url-pattern>/editRss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNews</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelNews</display-name>
    <servlet-name>DelNews</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.DelNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNews</servlet-name>
    <url-pattern>/delNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelRss</display-name>
    <servlet-name>DelRss</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.DelRss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelRss</servlet-name>
    <url-pattern>/delRss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNews</display-name>
    <servlet-name>ShowNews</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.ShowNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNews</servlet-name>
    <url-pattern>/showNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogRss</display-name>
    <servlet-name>BlogRss</servlet-name>
    <servlet-class>fr.giwi.agreugator.servlet.BlogRss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogRss</servlet-name>
    <url-pattern>/blogRss</url-pattern>
  </servlet-mapping>
</web-app>